*{
	margin: 0;
	padding: 0;
}
.divServPendientes{
	display: inline-block;
	width: 300px;
	height: 200px;
	background-color: brown;
	overflow-y: scroll;
}
.divOperaciones{
	display: inline-block;
	width: 150px;
}
.divServAgregados{
	display: inline-block;
	width: 300px;
	height: 200px;
	background-color: aqua;
	overflow-y: scroll;
}
.divContenedor{
	
	width: 100%;
	background-color: blueviolet;
	margin: 0 10% 0 10%;
}

.btn-group{
	width: 200px; height: 200px; overflow-y: scroll;
}
.lista{
	list-style:none;
}

.ul_lista{
	padding-inline-start: 0px;
}

.btnOperaciones{
	width: 140px;
	margin-bottom: 10px;
}

.ddlistaIzquierda{
	padding: 2px 0px 2px 15px;
}

.ddlistaDerecha{
	padding: 2px 0px 2px 15px;
}
